/* Dosis Fonts */
@font-face {
    font-family: dosis-extraLight;
    src: url(../fonts/Dosis-ExtraLight.ttf);
}
@font-face {
    font-family: dosis-regular;
    src: url(../fonts/Dosis-Regular.ttf);
}
@font-face {
    font-family: dosis-bold;
    src: url(../fonts/Dosis-Bold.ttf);
}
@font-face {
    font-family: dosis-light;
    src: url(../fonts/Dosis-Light.ttf);
}
@font-face {
    font-family: dosis-semiBold;
    src: url(../fonts/Dosis-SemiBold.ttf);
}
@font-face {
    font-family: dosis-extraBold;
    src: url(../fonts/Dosis-ExtraBold.ttf);
}
@font-face {
    font-family: dosis-medium;
    src: url(../fonts/Dosis-Medium.ttf);
}

/* Poppins Fonts */
@font-face {
    font-family: poppins-blackItalic;
    src: url(../fonts/Poppins-BlackItalic.ttf);
}
@font-face {
    font-family: poppins-extraBold;
    src: url(../fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: poppins-extraBoldItalic;
    src: url(../fonts/Poppins-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: poppins-extraLightItalic;
    src: url(../fonts/Poppins-ExtraLightItalic.ttf);
}
@font-face {
    font-family: poppins-lightItalic;
    src: url(../fonts/Poppins-LightItalic.ttf);
}
@font-face {
    font-family: poppins-regular;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppins-thin;
    src: url(../fonts/Poppins-Thin.ttf);
}
@font-face {
    font-family: poppins-bold;
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppins-italic;
    src: url(../fonts/Poppins-Italic.ttf);
}
@font-face {
    font-family: poppins-medium;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: poppins-semiBold;
    src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: poppins-thinItalic;
    src: url(../fonts/Poppins-ThinItalic.ttf);
}
@font-face {
    font-family: poppins-black;
    src: url(../fonts/Poppins-Black.ttf);
}
@font-face {
    font-family: poppins-boldItalic;
    src: url(../fonts/Poppins-BoldItalic.ttf);
}
@font-face {
    font-family: poppins-extraLight;
    src: url(../fonts/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: poppins-light;
    src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: poppins-mediumItalic;
    src: url(../fonts/Poppins-MediumItalic.ttf);
}
@font-face {
    font-family: poppins-semiBoldItalic;
    src: url(../fonts/Poppins-SemiBoldItalic.ttf);
}
