@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    /* box-sizing: border-box; */
    /* width: 100%; */
    
}
/* with and heights */
.wh-10{width: 100%; height: 10vh;}
.wh-20{width: 100%; height: 20vh;}
.wh-30{width: 100%; height: 30vh;}
.wh-40{width: 100%; height: 40vh;}
.wh-50{width: 100%; height: 50vh;}
.wh-60{width: 100%; height: 60vh;}
.wh-70{width: 100%; height: 70vh;}
.wh-80{width: 100%; height: 80vh;}
.wh-90{width: 100%; height: 90vh;}
.wh-100{width: 100%; height: 100vh;}
.wh-110{width: 100%; height: 110vh;}
.wh-120{width: 100%; height: 120vh;}
.wh-130{width: 100%; height: 130vh;}
.wh-140{width: 100%; height: 140vh;}
.wh-150{width: 100%; height: 150vh;}
.wh-160{width: 100%; height: 160vh;}
.wh-170{width: 100%; height: 170vh;}
.wh-180{width: 100%; height: 180vh;}
.wh-190{width: 100%; height: 190vh;}
.wh-200{width: 100%; height: 200vh;}

/* padding and margins */
/* margins */
/* overall margins */
.m-6{margin: 3rem;}
.m-7{margin: 3.5rem;}
.m-8{margin: 4rem;}
.m-9{margin: 4.5rem;}
.m-10{margin: 5rem;}
/* left and right */
.mx-6{margin-left: 3rem; margin-right: 3rem;}
.mx-7{margin-left: 3.5rem; margin-right: 3.5rem; }
.mx-8{margin-left: 4rem; margin-right: 4rem;}
.mx-9{margin-left: 4.5rem; margin-right: 4.5rem;}
.mx-10{margin-left: 5rem; margin-right: 5rem;}
/* top and bottom */
.my-6{margin-top: 3rem; margin-bottom: 3rem;}
.my-7{margin-top: 3.5rem; margin-bottom: 3.5rem; }
.my-8{margin-top: 4rem; margin-bottom: 4rem;}
.my-9{margin-top: 4.5rem; margin-bottom: 4.5rem;}
.my-10{margin-top: 5rem; margin-bottom: 5rem;}
/* top */
.mt-6{margin-top: 3rem;}
.mt-7{margin-top: 3.5rem;}
.mt-8{margin-top: 4rem;}
.mt-9{margin-top: 4.5rem;}
.mt-10{margin-top: 5rem;}
/* bottom */
.mb-6{margin-bottom: 3rem;}
.mb-7{margin-bottom: 3.5rem;}
.mb-8{margin-bottom: 4rem;}
.mb-9{margin-bottom: 4.5rem;}
.mb-10{margin-bottom: 5rem;}
/* left */
.ms-6{margin-left: 3rem;}
.ms-7{margin-left: 3.5rem;}
.ms-8{margin-left: 4rem;}
.ms-9{margin-left: 4.5rem;}
.ms-10{margin-left: 5rem;}
/* right */
.me-6{margin-right: 3rem;}
.me-7{margin-right: 3.5rem;}
.me-8{margin-right: 4rem;}
.me-9{margin-right: 4.5rem;}
.me-10{margin-right: 5rem;}

/* paddings */
/* overall paddings */
.p-6{padding: 3rem;}
.p-7{padding: 3.5rem;}
.p-8{padding: 4rem;}
.p-9{padding: 4.5rem;}
.p-10{padding: 5rem;}
/* left and right */
.px-6{padding-left: 3rem; padding-right: 3rem;}
.px-7{padding-left: 3.5rem; padding-right: 3.5rem; }
.px-8{padding-left: 4rem; padding-right: 4rem;}
.px-9{padding-left: 4.5rem; padding-right: 4.5rem;}
.px-10{padding-left: 5rem; padding-right: 5rem;}
/* top and bottom */
.py-6{padding-top: 3rem; padding-bottom: 3rem;}
.py-7{padding-top: 3.5rem; padding-bottom: 3.5rem; }
.py-8{padding-top: 4rem; padding-bottom: 4rem;}
.py-9{padding-top: 4.5rem; padding-bottom: 4.5rem;}
.py-10{padding-top: 5rem; padding-bottom: 5rem;}
/* top */
.pt-6{padding-top: 3rem;}
.pt-7{padding-top: 3.5rem;}
.pt-8{padding-top: 4rem;}
.pt-9{padding-top: 4.5rem;}
.pt-10{padding-top: 5rem;}
/* bottom */
.pb-6{padding-bottom: 3rem;}
.pb-7{padding-bottom: 3.5rem;}
.pb-8{padding-bottom: 4rem;}
.pb-9{padding-bottom: 4.5rem;}
.pb-10{padding-bottom: 5rem;}
/* left */
.ps-6{padding-left: 3rem;}
.ps-7{padding-left: 3.5rem;}
.ps-8{padding-left: 4rem;}
.ps-9{padding-left: 4.5rem;}
.ps-10{padding-left: 5rem;}
/* right */
.pe-6{padding-right: 3rem;}
.pe-7{padding-right: 3.5rem;}
.pe-8{padding-right: 4rem;}
.pe-9{padding-right: 4.5rem;}
.pe-10{padding-right: 5rem;}

/* font and color */
/* backgrounds */
.bg-light-blue{background-color: #30B7E6;}
.bg-dark-blue{background-color: #1D83C8;}
.bg-white{background-color: #fff;}
.bg-black{background-color: #2B2B2B;}
.bg-light-grey{background-color: #CCCCCC;}
.bg-drak-grey{background-color: #F3F3F3;}
/* text */
.text-light-blue{color: #30B7E6;}
.text-dark-blue{color: #1D83C8;}
.text-white{color: #fff;}
.text-black{color: #2B2B2B;}
.text-light-grey{color: #CCCCCC;}
.text-drak-grey{color: #F3F3F3;}
/* fonts */
.font-poppins-thin {font-family: 'Poppins', sans-serif; font-weight: 100;}
.font-poppins-extralight {font-family: 'Poppins', sans-serif; font-weight: 200;}
.font-poppins-light {font-family: 'Poppins', sans-serif; font-weight: 300;}
.font-poppins-regular {font-family: 'Poppins', sans-serif; font-weight: 400;}
.font-poppins-medium {font-family: 'Poppins', sans-serif; font-weight: 500;}
.font-poppins-semibold {font-family: 'Poppins', sans-serif; font-weight: 600;}
.font-poppins-bold {font-family: 'Poppins', sans-serif; font-weight: 700;}
.font-poppins-extrabold {font-family: 'Poppins', sans-serif; font-weight: 800;}
.font-poppins-black {font-family: 'Poppins', sans-serif;  font-weight: 900;}

/* background images */
.background-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
/*  */
@media (min-width: 1200px) {
    .container {
        max-width: 1050px !important;
    }
}


@media (max-width: 576px) {
    .container, .container-sm {
        max-width: 486px;
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 648px;
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 992px;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1026px;
    }
}


   label{
            color: #1D83C8 !important;
            font-family: poppins;
            font-weight: 300;
            text-transform: capitalize;
            
        }
     
    input:focus{
            box-shadow: none !important;
            outline: none !important;
        }
    ::placeholder{
        text-transform: capitalize !important;
    }

    .style{
        margin: calc(100%-40);
    }
.style-navbar{
    box-shadow: 0px 4px 4px 0px #0000001A;

}