@import url(fonts.css);
@import url(predefine-classes.css);

* {
    scroll-behavior: smooth;
}

.style-logo {
    width: 150px;
    height: auto;
}

.style-active-link {
    color: #1E3A8A !important;
    border-bottom: 2px solid #1E3A8A;
    padding-bottom: 0px !important;
}

.style-nav-links:hover {
    color: #1E3A8A !important;
}

.style-nav-btn {
    border-radius: 5px;
    padding: 0.5rem 2.5rem !important;
    border: 2px solid transparent !important;
    transition: 0.3s;

}

.style-bordered-btn {
    border: 2px solid #1E3A8A;
    border-radius: 5px;
    padding: 0.5rem 2.5rem !important;
    transition: 0.3s;

}

/* .style-nav-btn:hover {
    background-color: transparent !important;
    color: #1E3A8A !important;
    border: 2px solid #1E3A8A !important;
}

.style-bordered-btn:hover {
    background-color: #1E3A8A !important;
    color: #eee !important;
} */
.style-hero-section-img {
    /* padding: 0px;
    margin: 0px; */
    width: 100%;
    height: auto;
}

.arrow {
    position: absolute;
    bottom: -251px;
}

.style-arrow {
    width: 50px;
    height: 50px;
    background-color: #1E3A8A;
    border-radius: 50%;
}

.style-service-card {
    cursor: pointer;
    border-radius: 10px;
    -webkit-box-shadow: 8px 10px 14px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 8px 10px 14px 0px rgba(0, 0, 0, 0.1);
}

.style-service-card-heading {
    font-size: 24px;
}

.style-service-card-para {
    font-size: 14px;
}

.style-service-card:hover {
    background-color: #f5f5f5 !important;
}

.style-about-heading {
    font-size: 32px;
}

.style-about-para {
    font-size: 14px;
}

.style-about-img {
    width: 100%;
    height: auto;
}

.style-portfolio {
    width: 50%;
    height: auto;
}

.style-testimonal-card {
    cursor: pointer;
    border-radius: 10px;
    -webkit-box-shadow: 8px 10px 14px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 8px 10px 14px 0px rgba(0, 0, 0, 0.1);
}

.style-testmonal-text {
    font-size: 14px;
}

.style-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.style-test-name {
    font-size: 18px;
}

.style-testimonal-card:hover {

    background-color: #f5f5f5 !important;

}

.style-fottoer-logo {
    width: 200px;
    height: auto;
}

.style-link {
    text-decoration: none !important;
    color: #fff;
}

.style-link:hover {
    text-decoration: none !important;
    color: #fff;
}

a {
    text-decoration: none !important;
    color: currentColor !important;
}


p {
    font-size: 14px !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #1E3A8A !important;
    margin-top: 1rem;
}

.style-CTA {
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #374C8D;
}

.style-CTA-side {
    height: 50vh;
}

.style-test-rating {
    width: 400px !important;

    height: auto;
}

.style-slider {
    border-radius: 20px;
    -webkit-box-shadow: 8px 10px 14px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 8px 10px 14px 0px rgba(0, 0, 0, 0.1);
}

.style-contact-us-input {
    padding: 12px 24px 12px 12px;
    border: 0px solid transparent !important;
    border-radius: 5px;

}

.style-contact-us-text {
    padding: 12px 12px 12px 12px;
    border-radius: 5px;
    border: 0px solid transparent !important;

}

.style-contact-us-input:focus, .style-contact-us-text:focus {
    border: 0px solid transparent !important;
    box-shadow: none !important;
    outline: none !important;
}

.style-abou-header-img {

    height: 70vh;
    float: right;

}

.style-caroual-img {
    height: auto;
    width: 100%;
    
}

.style-aboutus-main-text {
    font-size: 17px !important;
}

.counter-section i {
    display: block;
    margin: 0 0 10px
}

.counter-section span.counter {
    font-size: 40px;
    color: #000;
    line-height: 60px;
    display: block;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px
}

.counter-title {
    font-size: 12px;

    text-transform: uppercase
}

.card-header {
    padding: 0.15rem 0.35rem;
    margin-bottom: 0;
    background-color: #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.card-header h5 {
    font-size: 16px;
    font-family: poppins-light;
    color: #1F2937 !important;
}
.card-header h5 button {
    font-size: 16px;
    font-family: poppins-light;
    color: #1F2937 !important;
    text-decoration: none !important;
    text-align: left;
}
.card-header h5 button:focus {
    font-size: 16px;
    font-family: poppins-light;
    color: #1F2937 !important;
    text-decoration: none !important;
    outline: 0px !important;
    box-shadow: none !important;
}

.card{
    border: 0px !important;
}
.counter-icon {
    top: 25px;
    position: relative
}

.counter-style2 .counter-title {
    letter-spacing: 0.55px;
    float: left;
}

.counter-style2 span.counter {
    letter-spacing: 0.55px;
    float: left;
    margin-right: 10px;
}

.counter-style2 i {
    float: right;
    line-height: 26px;
    margin: 0 10px 0 0
}

.counter-subheadline span {
    float: right;
}

.medium-icon {
    font-size: 40px !important;
    margin-bottom: 15px !important;
}

@media (max-width: 576px) {
    .container, .container-sm {
        max-width: 486px;
    }

    .style-CTA {
        background-image: url(../images/mob\ CTA.jpg) !important;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #374C8D;
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 648px;
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 992px;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1026px;
    }
}